{%- if section.settings.bannertop_image -%}
    <div id="bannerTop" class="bannerTop text-center active">
        <a href="{{ section.settings.bannertop_link }}" title="Banner home top">
            {% render 'img-global', image: section.settings.bannertop_image %}
        </a>                  
    </div>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.banner-top.name",
  "settings": [
	{
		"type": "image_picker",
		"id": "bannertop_image",
		"label": "t:sections.banner-top.settings.banner.label"
	},
	{
		"type": "url",
		"id": "bannertop_link",
		"label": "t:sections.global.settings.url.label"
	}
  ]
}
{% endschema %}