.cart {
  position: relative;
  display: block; }

.main-cart-wrap {
  min-height: 300px; }

.cart__warnings {
  top: 85px;
  left: 0;
  display: none; }

.is-empty h1 {
  display: none; }

.is-empty .cart__warnings {
  display: block; }

cart-items {
  display: block; }

.cart__items--disabled {
  pointer-events: none; }

.discounts__discount svg {
  width: 15px;
  margin-right: 5px; }

#main-cart-footer {
  background: #f8f8f8; }
  #main-cart-footer.is-empty {
    display: none; }

.cart__footer .discounts {
  margin-top: 1rem; }

.cart__ctas button {
  width: 100%; }

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem; }

.cart__update-button {
  margin-bottom: 1rem; }

.cart__dynamic-checkout-buttons {
  margin-top: 0; }

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: 0 !important; }

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: 2; }

.cart__checkout-button {
  max-width: 36rem;
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500; }
  .cart__checkout-button:hover {
    color: #fff;
    border-color: var(--heading-color);
    background-color: var(--heading-color); }

.cart__ctas {
  text-align: center; }

/*cart item*/
.cart-items--heading {
  color: var(--heading-color);
  background-color: #f8f8f8; }

.cart-item__media img {
  overflow: hidden; }

.cart-item__totals {
  position: relative; }

.cart-item__name {
  font-size: calc(var(--font-size-base) + 2px);
  margin-bottom: 5px;
  color: var(--product-name-color);
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block; }
  .cart-item__name:hover {
    color: var(--product-name-hover-color); }

.cart-item__price-wrapper {
  margin: 0; }

@media (max-width: 575.98px) {
  .cart-item__totals .cart-item__price-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; } }

.cart-item__details .product-price {
  font-size: 1rem; }

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
  font-size: calc(var(--font-size-base) + 4px); }

.cart-item__discounted-prices dd {
  margin: 0; }

.cart-item__old-price {
  opacity: 0.7; }

.quantity {
  border: 1px solid var(--border-color);
  overflow: hidden;
  display: inline-block;
  padding: 0 10px;
  background: #fff; }
  .quantity .quantity__button {
    position: relative;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 10px;
    font-size: 20px;
    color: #e6e6e6; }
    .quantity .quantity__button svg {
      width: 12px;
      height: 12px; }
    .quantity .quantity__button:hover {
      color: var(--primary); }
  .quantity .quantity__input {
    width: 40px;
    text-align: center;
    border: 0;
    height: 36px;
    vertical-align: middle;
    font-family:Source Sans Pro,sans-serif;
    background-color: transparent; }

.cart-item_vendor {
  color: #999; }

cart-remove-button {
  right: -10px;
  top: -10px; }
  cart-remove-button .btn {
    color: var(--primary); }

.totals__subtotal-value {
  font-size: calc(var(--font-size-base) + 5px);
  color: var(--heading-color); }

.cart-item .loading-overlay {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  padding: 0; }

@media screen and (min-width: 750px) {
  .cart-item .loading-overlay {
    top: 0;
    padding-top: 5.5rem;
    bottom: auto; } }

.loading-overlay:not(.hidden) ~ * {
  visibility: hidden; }

.cart-item__error {
  font-size: 1.2rem;
  display: flex; }

.cart-item__error-text {
  order: 1; }

.cart-item__error-text + svg {
  width: 1.2rem;
  margin-right: 0.7rem; }

.cart-item__error-text:empty + svg {
  display: none; }

.product-option {
  font-size: calc(var(--font-size-base) - 2px);
  line-height: var(--font-size-base); }
  .product-option dt {
    font-weight: 400;
    margin-right: 5px; }

.product-option + .product-option {
  margin-top: 3px; }

.product-option * {
  display: inline;
  margin: 0; }

.is-empty .cart__info-wrapper {
  display: none; }
