.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1070;
  display: block;
  width: 400px;
  padding: 0;
  max-width: 90%;
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translate(100%, 0);
  transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1); }

.drawer--right {
  right: 0; }

.drawer__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1069;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1); }

.drawer--open {
  overflow-y: hidden;
  height: 100%; }
  .drawer--open .drawer {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0); }
  .drawer--open .drawer__overlay {
    opacity: 1;
    visibility: visible; }

.drawer__title {
  padding: 15px 20px;
  margin: 0;
  color: var(--heading-color);
  font-family:Source Sans Pro,sans-serif;
  font-size: 1.7em;
  font-weight: var(--font-heading-weight);
  line-height: 30px; }

.drawer__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  padding: 0;
  border: none;
  background-color: transparent; }
  .drawer__close-button svg {
    display: block;
    width: 30px;
    height: 30px; }

.drawer__inner {
  top: 80px;
  left: 0;
  bottom: 0; }
  .drawer__inner .ajaxcart__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: #fff; }
  .drawer__inner .cart-empty-message {
    margin: 30px 0 0;
    padding: 15px 0;
    font-size: calc(var(--font-size-base) + 10px); }
  .drawer__inner .ajaxcart__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    max-height: none;
    margin-bottom: 10px; }

.drawer__quantity {
  margin: 8px 0 0; }
  .drawer__quantity .vela-qty {
    border-width: 1px;
    padding: 0 5px;
    width: 90px; }
  .drawer__quantity .vela-qty__adjust {
    width: 20px; }
    .drawer__quantity .vela-qty__adjust svg {
      width: 10px; }
  .drawer__quantity .vela-qty__number {
    font-size: var(--font-size-base);
    height: 30px; }

.ajaxcart__info--header {
  font-size: calc(var(--font-size-base) - 2px); }

.ajaxcart__info--content > div {
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  background: white;
  transform: translateY(100%);
  transition: all .3s ease;
  z-index: 3; }
  .ajaxcart__info--content > div.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }
