.customer .customer__inner {
  padding: 60px 0; }

@media screen and (min-width: 768px) {
  .customer .customer__inner {
    padding: 30px 0 80px; } }

.customer h2.form__message {
  font-size: 1.8rem; }

@media only screen and (min-width: 768px) {
  .customer h2.form__message {
    font-size: 2.2rem; } }
/* Customer Table */
.customer table {
  table-layout: auto;
  border-collapse: collapse;
  box-shadow: none;
  width: 100%;
  position: relative; }

@media screen and (min-width: 768px) {
  .customer table {
    border: none; } }

.customer th,
.customer td {
  font-weight: 400;
  line-height: 1;
  border: none;
  padding: 0; }

@media screen and (min-width: 768px) {
  .customer td {
    padding-right: 1rem; } }

.customer tbody td {
  padding-top: 1rem;
  padding-bottom: 1rem; }

@media screen and (min-width: 768px) {
  .customer tbody td {
    padding-top: 0;
    padding-bottom: 0; } }

.customer td:empty {
  display: initial; }

@media screen and (min-width: 768px) {
  .customer th,
  .customer td:first-of-type {
    text-align: left;
    padding-left: 0;
    padding-right: 20px; }
  .customer thead th,
  .customer tbody td:first-of-type {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; } }

.customer thead th {
  font-size: var(--font-size-base);
  font-weight: var(--font-heading-weight);
  color: var(--heading-color);
  text-transform: uppercase; }

@media screen and (min-width: 768px) {
  .customer th:last-of-type,
  .customer td:last-of-type {
    padding-right: 0; } }

.customer tbody td:first-of-type {
  padding-top: 2.5rem; }

@media screen and (min-width: 768px) {
  .customer tbody td:first-of-type {
    padding-top: 2.4rem; } }

.customer tbody td:last-of-type {
  padding-bottom: 2.5rem; }

@media screen and (min-width: 768px) {
  .customer tbody td:last-of-type {
    padding-bottom: 0; } }

.customer tbody tr {
  border-top: 0.01rem solid var(--border-color); }

.customer tbody tr:first-of-type {
  border-top: none; }

.customer tfoot td:first-of-type,
.customer tfoot td {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem; }

.customer tfoot td:first-of-type {
  text-align: left; }

.customer tfoot tr:first-of-type td {
  padding-top: 2.5rem; }

@media screen and (min-width: 768px) {
  .customer tfoot tr:first-of-type td,
  .customer tfoot tr:first-of-type th {
    padding-top: 2.4rem; } }

.customer tfoot tr:last-of-type td {
  padding-bottom: 2.5rem; }

@media screen and (min-width: 768px) {
  .customer tfoot tr:last-of-type td,
  .customer tfoot tr:last-of-type th {
    padding-bottom: 2.4rem; } }

/* works around colspan phantom border issues */
.customer thead::after,
.customer tfoot::before {
  content: " ";
  height: 0.1rem;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  background: var(--border-color); }

/* mobile table overrides */
@media screen and (max-width: 749px) {
  .customer thead,
  .customer th,
  .customer tfoot td:first-of-type {
    display: none; }
  .customer td {
    display: flex;
    text-align: right; }
  .customer td::before {
    content: attr(data-label);
    padding-right: 2rem;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: left;
    color: var(--heading-color);
    font-weight: var(--font-heading-weight); }
  .customer td:first-of-type {
    display: flex;
    align-items: center; }
  .customer tr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%; } }

/* Login */
.register .customer__inner,
.login .customer__inner {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto; }

#customer_login_guest button {
  margin-top: 0; }

#recover {
  display: none; }

#recover:target {
  display: inline; }

#recover:target + div {
  display: none; }

#recover:target ~ #login,
#recover:target ~ #login + div {
  display: none; }

.activate button[name="decline"],
.addresses li > button,
.addresses form button[type] {
  background-color: transparent;
  box-shadow: 0 0 0 0.1rem var(--color-base-outline-button-labels);
  color: var(--color-base-outline-button-labels); }

.activate button[name="decline"]:hover,
.addresses li > button:hover,
.addresses form button[type]:hover {
  box-shadow: 0 0 0 0.2rem var(--color-base-outline-button-labels); }

@media only screen and (min-width: 768px) {
  .activate button[name="decline"] {
    margin-top: inherit;
    margin-left: 1rem; } }

.account .card-header {
  font-size: 20px; }

.account h1 + a {
  display: inline-flex;
  align-items: center; }

.account a svg {
  width: 1.5rem;
  margin-right: 1rem; }

@media screen and (min-width: 768px) {
  .account thead th:last-child,
  .account td:last-child {
    text-align: right; }
  .account table td:first-of-type {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem; } }

.account table td:first-of-type a {
  color: var(--heading-color);
  font-weight: var(--font-heading-weight); }

.account table td:first-of-type a:hover {
  box-shadow: 0 0 0 0.2rem rgba(var(--color-base-outline-button-labels-rgb), 0.2);
  color: var(--color-base-outline-button-labels); }

.order td:first-of-type {
  align-items: initial; }

@media screen and (min-width: 768px) {
  .order thead th:nth-last-child(-n+3),
  .order td:nth-last-child(-n+3) {
    text-align: right; } }

.order tfoot tr:last-of-type td,
.order tfoot tr:last-of-type th {
  font-size: 2.2rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem; }

@media screen and (min-width: 768px) {
  .order tfoot tr:last-of-type td,
  .order tfoot tr:last-of-type th {
    padding-bottom: 2.4rem; } }

.order tfoot tr:last-of-type td:before {
  font-size: 2.2rem; }

.order table p,
.order > div:nth-of-type(2) > div:first-of-type h2,
.order > div:nth-of-type(2) > div:last-of-type h2 + p {
  margin-bottom: 0; }

.order > div:nth-of-type(2) > div:first-of-type h2 ~ p {
  margin-bottom: 0;
  font-size: 1.4rem; }

.order > div:nth-of-type(2) > div:first-of-type h2 ~ p:last-of-type {
  margin-bottom: 3rem; }

.order .item-props {
  font-size: 1.4rem;
  margin-top: 0.05px;
  display: flex;
  flex-direction: column; }

.order .item-props > span {
  word-break: break-all;
  line-height: 1.2; }

.order .fulfillment {
  width: fit-content;
  border: 0.01rem solid var(--border-color);
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: left; }

.order .fulfillment a {
  margin: 0.7rem 0; }

.order .fulfillment span {
  display: block; }

.order .cart-discount {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem; }

@media screen and (min-width: 768px) {
  .order td .cart-discount {
    display: none; } }

.order tbody ul {
  list-style: none;
  font-size: 1.2rem;
  text-align: right;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 0; }

@media screen and (min-width: 768px) {
  .order tbody ul {
    text-align: left; } }

.order table a {
  color: var(--color-foreground-85);
  line-height: 1.2; }

.order table a:hover {
  color: var(--color-foreground-75); }

.order tbody tr:first-of-type td:first-of-type > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

@media screen and (min-width: 768px) {
  .order tbody tr:first-of-type td:first-of-type > div {
    align-items: flex-start; } }

.order .properties {
  font-size: 1.4rem;
  margin-top: 1rem; }

.order .properties span {
  display: block;
  line-height: 1.2; }

.order svg {
  width: 1.1rem;
  color: var(--color-base-accent-2);
  margin-right: 0.5rem; }

.order dl {
  margin: 0; }

.order dd {
  margin-left: 0;
  line-height: 1.3; }

.order dd s {
  color: var(--color-foreground-70); }

/*address*/
.address-default {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 15px;
  color: #fff;
  background-color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase; }

.btn-link:hover {
  color: var(--primary); }
