.product-single__reviews {
  font-size: 14px; }
  .product-single__reviews .spr-starratings .spr-icon, .product-single__reviews .spr-starrating .spr-icon {
    margin-right: 2px; }

#vela-add-review {
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
  color: var(--secondary);
  font-size: calc(var(--font-size-base) - 2px); }
  @media (max-width: 767.98px) {
    #vela-add-review {
      padding-left: 10px;
      margin-left: 10px; } }
  #vela-add-review:hover {
    color: var(--primary); }
  #vela-add-review::before {
    content: "|";
    position: absolute;
    top: 0;
    left: -2px;
    font-size: 12px;
    color: var(--body-color-light); }

.spr-starrating {
  display: inline !important; }
  .spr-starrating .spr-star path {
    fill: var(--primary); }
  .spr-starrating [aria-label="0 out of 5 stars"] .spr-star path {
    fill: #b3b3b3; }

.product-reviews .spr-container {
  padding: 0 !important;
  border: 0 !important; }

.product-reviews .spr-header {
  text-align: center; }
  .product-reviews .spr-header .spr-summary-actions {
    display: block;
    width: 100%; }
  .product-reviews .spr-header .spr-summary > * {
    display: block; }
  .product-reviews .spr-header .spr-summary-caption {
    margin-top: 10px; }

.product-reviews .spr-review-header-byline {
  color: var(--body-color-light);
  font-size: var(--font-size-base);
  font-style: normal; }
  .product-reviews .spr-review-header-byline strong {
    font-weight: 400; }

.product-reviews .spr-header-title {
  color: var(--heading-color);
  font-family:  'Source Sans Pro', sans-serif; 
  font-weight: 600;
  font-size: calc(var(--font-size-base) + 6px);
  margin: 0 0 5px;
  text-transform: uppercase; }

.product-reviews .spr-content {
  max-width: 800px;
  margin: 0 auto; }

.product-reviews .spr-summary-starrating,
.product-reviews .spr-summary-caption {
  font-size: var(--font-size-base); }

.product-reviews .spr-review-header-title {
  color: var(--heading-color); }

.product-reviews .spr-review-footer {
  display: none !important; }

.product-reviews .spr-review-content {
  margin: 0 !important; }

.product-reviews .spr-review-header-starratings .spr-icon {
  margin-right: 1px; }

.product-reviews .spr-form-review-rating .spr-icon {
  font-size: var(--font-size-base); }

.product-reviews .spr-form-input-text,
.product-reviews .spr-form-input-email,
.product-reviews .spr-form-input-textarea {
  border: 1px solid var(--border-color);
  padding: 6px 10px;
  font-size: calc(--font-size-base - 1px); }
  .product-reviews .spr-form-input-text::placeholder,
  .product-reviews .spr-form-input-email::placeholder,
  .product-reviews .spr-form-input-textarea::placeholder {
    color: #999; }

.product-reviews .spr-summary-actions-newreview {
  color: var(--btn-default-color);
  border-color: var(--btn-default-border-color);
  background-color: var(--btn-default-bg-color);
  text-transform: uppercase;
  font-size: calc(var(--font-size-base) - 1px);
  padding: 10px 30px;
  display: inline-block;
  float: none;
  margin: 20px 0 10px; }
  .product-reviews .spr-summary-actions-newreview:hover {
    color: var(--btn-default-hover-color);
    border-color: var(--btn-default-hover-border-color);
    background-color: var(--btn-default-hover-bg-color); }

.product-reviews .spr-button-primary {
  padding: 10px 30px;
  font-weight: var(--font-heading-weight);
  color: var(--btn-default-color);
  border-color: var(--btn-default-border-color);
  background-color: var(--btn-default-bg-color);
  transition: all .3s ease; }
  .product-reviews .spr-button-primary:hover {
    color: var(--btn-default-hover-color);
    border-color: var(--btn-default-hover-border-color);
    background-color: var(--btn-default-hover-bg-color); }

.product-reviews .spr-form-label {
  margin-bottom: 5px;
  color: var(--heading-color); }

.product-reviews .spr-form-title {
  color: var(--heading-color);
  font-size: 18px; }

.product-reviews .spr-form-message-success {
  color: green; }
  .product-reviews .spr-form-message-success:focus {
    outline: 0; }

.product-reviews .spr-icon-star-empty.spr-icon-star-hover {
  color: var(--primary);
  opacity: 1; }
