.product-single__meta.sticky-top {
  z-index: 2; }

.js-product-single-media__wrapp {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease; }
  .js-product-single-media__wrapp.active {
    opacity: 1;
    visibility: visible;
    position: relative; }
    .js-product-single-media__wrapp.active .main-media__slick-controls .slick__arrow {
      visibility: hidden;
      opacity: 0; }

.shopify-payment-button__button {
  border-radius: 0;
  margin-right: 10px;
  min-height: 48px;
  overflow: hidden;
  font-weight: 500;
  font-family:'Source Sans Pro',sans-serif; }
  .shopify-payment-button__button--unbranded {
    color: #fff;
    line-height: 48px;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    font-size: calc(var(--font-size-base) - 1px);
    width: 100%;
    min-width: 150px;
    font-weight: 600;
    position: relative;
    border-radius: .1875rem; }
    @media (max-width: 575.98px) {
      .shopify-payment-button__button--unbranded {
        min-width: 90px; } }
    .shopify-payment-button__button--unbranded:hover, .shopify-payment-button__button--unbranded:hover:not([disabled]) {
      background-color: var(--primary); }
  .shopify-payment-button__button--hidden {
    display: none; }

.shopify-payment-button__more-options {
  margin: 1.6rem 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-decoration: underline;
  text-underline-offset: 0.3rem; }

.product-single__countdown .countdown-title {
  font-size: calc(var(--font-size-base) + 1px);
  color: var(--heading-color);
  font-weight: var(--font-heading-weight); }

.product-single__countdown .countdown__item {
  margin: 0 4px; }
  .product-single__countdown .countdown__item span:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    padding: 10px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    color: var(--body-color);
    background-color: #F7F7F7;
    font-weight: var(--font-heading-weight);
    font-size: calc(var(--font-size-base) + 8px); }
  .product-single__countdown .countdown__item span:last-child {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    color: var(--body-color);
    font-size: var(--font-size-base); }

.product-single__inventory {
  font-size: 20px;
  color: var(--heading-color); }
  .product-single__inventory .product_number {
    color: #0066c0;
    font-weight: var(--font-heading-weight); }
  .product-single__inventory .progress {
    height: 10px; }

.product__space {
  display: block;
  width: 100%;
  height: 15px;
  visibility: hidden; }

.product-single__media-group.slick-slider {
  margin: 0;
  overflow: hidden; }

.product-single__media-group .slick-slide:focus,
.product-single__media-group .slick-track:focus {
  outline: 0; }

.product-single__media-group.slick-initialized ~ .main-media__slick-controls {
  display: block; }

.main-media__slick-controls {
  display: none; }

.product-single__media--stacked .product-single__main-media {
  border: 0; }

.product-single__media--stacked .product-media__wrapper {
  overflow: hidden; }

@media (min-width: 992px) {
  .product-single__media--stacked .product-single__media-item:not(:last-child) {
    margin-bottom: 20px; } }

.product-media:focus {
  outline: 0; }

.product-media__wrapper {
  position: relative;
  z-index: 2; }
  .product-media__wrapper model-viewer,
  .product-media__wrapper video,
  .product-media__wrapper iframe,
  .product-media__wrapper .shopify-model-viewer-ui,
  .product-media__wrapper .media-item,
  .product-media__wrapper .plyr {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: contain; }
  .product-media__wrapper .plyr__video-wrapper {
    height: 100%; }
  @media screen and (min-width: 768px) {
    .product-media__wrapper[data-mfp-src] {
      cursor: zoom-in; } }

.product-media__wrapper--model,
.product-media__wrapper--video {
  padding-top: 100%; }

.product-single__view-in-space {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 44px;
  margin: 0;
  padding: 10px;
  font-size: var(--font-size-base);
  color: var(--heading-color);
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  transition: all .3s ease; }
  .product-single__view-in-space svg {
    display: block;
    height: 16px;
    width: 14px;
    margin-right: 8px; }
  @media (min-width: 768px) {
    .product-single__view-in-space[data-shopify-xr-hidden] {
      display: none; } }
  .product-single__view-in-space:hover, .product-single__view-in-space:focus {
    outline: 0; }

.product-single__view-in-space--disabled {
  display: none; }

.product-single__thumbnail-badge {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 3px;
  bottom: 3px;
  pointer-events: none; }
  @media screen and (min-width: 1025px) {
    .product-single__thumbnail-badge {
      width: 35px;
      height: 35px; } }
  .product-single__thumbnail-badge svg {
    fill: #fff;
    width: 100%;
    height: 100%;
    vertical-align: baseline; }
  .product-single__thumbnail-badge .icon-3d-badge-full-color-outline,
  .product-single__thumbnail-badge .icon-video-badge-full-color-outline {
    stroke: rgba(0, 0, 0, 0.05); }
  .product-single__thumbnail-badge .icon-3d-badge-full-color-element,
  .product-single__thumbnail-badge .icon-video-badge-full-color-element {
    fill: var(--heading-color); }

.product-single__thumbnails {
  margin: 16px -5px 0 -8px; }
  @media (max-width: 575.98px) {
    .product-single__thumbnails.slick-initialized ~ .slick__controls {
      display: flex; } }

.product-single__thumbnail-wrapper .product-media__wrapper {
  padding: 0 8px; }

.product-single__thumbnail-wrapper .product-single__thumbnail {
  display: block;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--border-color); }

.product-single__thumbnail-wrapper .slick-current.slick-active .product-single__thumbnail {
  border-color: var(--primary); }

.product-single__thumbnail-wrapper .slick-arrow {
  width: 30px;
  height: 30px;
  margin-top: -15px; }
  .product-single__thumbnail-wrapper .slick-arrow::before {
    width: 6px;
    height: 12px; }

.product-single__thumbnail-wrapper .slick-prev {
  left: 0; }

.product-single__thumbnail-wrapper .slick-next {
  right: 0; }

@media (min-width: 992px) {
  .product-single__media--thumbnails-vertical:not(.no-thumbnail) {
    display: flex; }
    .product-single__media--thumbnails-vertical:not(.no-thumbnail) .js-product-single-media__wrapp {
      display: flex; }
    .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnail-wrapper {
      width: 82px; }
      .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnail-wrapper .slick-arrow {
        top: 100%;
        margin-top: -30px;
        transform: rotate(90deg); }
      .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnail-wrapper .slick-next {
        right: 11px; }
      .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnail-wrapper .slick-prev {
        left: 11px; }
    .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__main-media {
      width: calc(100% - 92px); }
    .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnails {
      margin: 0; }
      .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnails .product-media__wrapper {
        padding: 0 0 8px; }
  .product-single__media--thumbnails-left {
    flex-flow: row-reverse; }
    .product-single__media--thumbnails-left .js-product-single-media__wrapp {
      flex-flow: row-reverse; }
    .product-single__media--thumbnails-left .product-single__thumbnail-wrapper {
      margin-right: 10px; }
  .product-single__media--thumbnails-right .product-single__thumbnail-wrapper {
    margin-left: 10px; } }

@media (min-width: 1460px) {
  .product-single__media--thumbnails-vertical:not(.no-thumbnail) {
    display: flex; }
    .product-single__media--thumbnails-vertical:not(.no-thumbnail) .js-product-single-media__wrapp {
      display: flex; }
    .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnail-wrapper {
      width: 95px; }
      .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnail-wrapper .slick-arrow {
        top: 100%;
        margin-top: -30px;
        transform: rotate(90deg); }
      .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnail-wrapper .slick-next {
        right: 18px; }
      .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnail-wrapper .slick-prev {
        left: 18px; }
    .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__main-media {
      width: calc(100% - 110px); }
    .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnails {
      margin: 0; }
      .product-single__media--thumbnails-vertical:not(.no-thumbnail) .product-single__thumbnails .product-media__wrapper {
        padding: 0 0 13px; }
  .product-single__media--thumbnails-left {
    flex-flow: row-reverse; }
    .product-single__media--thumbnails-left .js-product-single-media__wrapp {
      flex-flow: row-reverse; }
    .product-single__media--thumbnails-left .product-single__thumbnail-wrapper {
      margin-right: 15px; }
  .product-single__media--thumbnails-right .product-single__thumbnail-wrapper {
    margin-left: 15px; } }

.product-single__media--thumbnails-top {
  display: flex;
  flex-direction: column-reverse; }
  .product-single__media--thumbnails-top .js-product-single-media__wrapp {
    display: flex;
    flex-direction: column-reverse; }
  .product-single__media--thumbnails-top .product-single__thumbnails {
    margin-top: 0;
    margin-bottom: 10px; }

.product-single__main-media {
  position: relative;
  overflow: hidden; }
  .product-single__main-media .slick__arrow {
    width: 20px;
    height: 36px;
    margin-top: -18px;
    color: #999;
    border-color: transparent;
    background: transparent; }
    @media (min-width: 992px) {
      .product-single__main-media .slick__arrow {
        visibility: hidden; } }
    .product-single__main-media .slick__arrow:before {
      display: none; }
    .product-single__main-media .slick__arrow:hover {
      color: var(--primary); }
    .product-single__main-media .slick__arrow svg {
      width: 100%;
      height: auto; }
  .product-single__main-media .slick__arrow--previous {
    left: 0; }
  .product-single__main-media .slick__arrow--next {
    right: 0; }
  .product-single__main-media:hover .slick__arrow {
    visibility: visible; }

.slick__controls .slick__dots-wrapper {
  padding: 0 5px; }

.slick__controls .slick-dots {
  position: relative;
  left: auto;
  bottom: auto;
  display: flex;
  background-color: transparent; }
  .slick__controls .slick-dots li {
    padding: 0; }
  .slick__controls .slick-dots a {
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px; }
    .slick__controls .slick-dots a::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid var(--heading-color); }

.slick__controls .slick-active a::before {
  background-color: var(--heading-color); }

.product-single__meta .social-sharing_title {
  margin-right: 20px !important; }

.product-single__meta .list-social__link {
  width: 30px;
  height: 30px;
  line-height: 27px;
  color: var(--body-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .product-single__meta .list-social__link:hover {
    color: var(--primary); }

/* product tab info */
.more-info-tabs__nav-item:not(:last-child) {
  margin-right: 45px;
  position: relative; }
  @media (max-width: 991.98px) {
    .more-info-tabs__nav-item:not(:last-child) {
      margin-right: 35px; } }
  @media (max-width: 575.98px) {
    .more-info-tabs__nav-item:not(:last-child) {
      margin-right: 26px; } }

.more-info-tabs__nav-link {
  font-size: var(--font-size-base);
  font-family:'Source Sans Pro',sans-serif;
  font-weight: var(--font-heading-weight);
  color: var(--body-color-light);
  text-transform: uppercase;
  position: relative;
  display: block;
  margin: 10px 0;
  transition: all .3s ease; }
  .more-info-tabs__nav-link::before {
    content: "";
    position: absolute;
    height: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: height .3s ease;
    background-color: var(--heading-color); }
  .more-info-tabs__nav-link:hover, .more-info-tabs__nav-link.active {
    color: var(--heading-color); }
    .more-info-tabs__nav-link:hover::before, .more-info-tabs__nav-link.active::before {
      height: 2px; }

.more-info-tabs__content .rte iframe,
.more-info-tabs__content .rte img {
  max-width: 100%; }

.product-single__wishlist {
  color: var(--heading-color); }
  .product-single__wishlist.is-adding .wishlist-icon {
    opacity: 0; }
  .product-single__wishlist.is-adding .spinner-border {
    right: auto; }
  .product-single__wishlist:hover, .product-single__wishlist.is-added {
    color: var(--primary); }
  .product-single__wishlist svg {
    margin-top: -3px; }

.product-single__btn--question {
  color: var(--heading-color); }
  .product-single__btn--question:hover {
    color: var(--primary); }
  .product-single__btn--question svg {
    margin-top: -2px; }

/*popup modal*/
.popup--wrap .modal {
  background-color: rgba(0, 0, 0, 0.5); }

/**fix thumbnail size */
.thumbnail-type_video .card__image {
  padding-top: 126.9% !important; }

.vela-breadcrumbs__product {
  padding-top: var(--header-height); }
